.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: auto;
    height: 100%;
    padding-top: 20px;
}

@media (min-width: 800px) {
    .CheckoutSummary {
        width: 700px;
    }
}